/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 统一黑色主题 */
html, body, :root {
  background: #000;
  color: #fff;
}

/* 链接样式 */
a { color: inherit; text-decoration: none; }
a:hover { opacity: .9; }
